{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Back Office | {{ produit.titre|capitalize }} {% endblock %}

{% block h1 %}{{ produit.titre|capitalize }} {% endblock %}

{% block body %}


    {% include "flashes/index.html.twig" %}

    <a class="btn btn-dark my-3" href="{{app.request.headers.get('referer')}}">Retour</a>

    <div class="col-md-8 mx-auto">
        {{ form_start(formProduit) }}
    
            
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(formProduit.titre)}}
                </div>
                <div class="col-md-6">
                    {{ form_row(formProduit.prix, { 'money_pattern': '{{ widget }} €' }) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(formProduit.categorie)}}
                </div>
                <div class="col-md-6">
                    {{ form_row(formProduit.marque)}}
                </div>
            </div>

            {{ form_row(formProduit.matiere)}}

            {{ form_row(formProduit.description)}}

            {{ form_row(formProduit.imageUpdate)}}

            <div id="zone" class="text-center">
                {% if produit.image %}
                    <img src="{{ asset('images/upload/' ~ produit.image ) }}" alt="" class="img200">
                    <a href="{{ path('image_supprimer', {'id' : produit.id }) }}">
                        <i class="text-danger" data-feather="trash"></i>
                    </a>
                {% endif %}
            </div>


            <input type="submit" value="Modifier" class="btn btn-danger col-md-12 mt-3">

        {{ form_end(formProduit) }} 
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        $(".select2").select2();
        function loadFile(event)
        {

            let zone = document.getElementById("zone");
            zone.innerHTML = "";

            let image = document.createElement('img');
            image.setAttribute('src', URL.createObjectURL(event.target.files[0]));
            image.setAttribute('class', 'img200');

            zone.append(image);
        }

    </script>
{% endblock %}